<div
  class="carousel__navigation-buttons {{ wrapper_class }}"
  {% if data_attribute %}
    {{ data_attribute }}
  {% endif %}
>
  <button
    type="button"
    class="carousel__navigation-button carousel__navigation-button--back"
    data-prev
    aria-label="{{ 'general.accessibility.carousel_previous' | t }}"
  >
    {%- render 'icon' with icon: 'arrow-long' -%}
  </button>
  <button
    type="button"
    class="carousel__navigation-button carousel__navigation-button--forward"
    data-next
    aria-label="{{ 'general.accessibility.carousel_next' | t }}"
  >
    {%- render 'icon' with icon: 'arrow-long' -%}
  </button>
</div>
