<div class="product__description product__block product__block--medium" {{ block.shopify_attributes }}>
  <div class="rte rte--product ff-body {{ block_settings.text_font_class }}">
    {{ content }}
  </div>
</div>
