{% if text != blank and text != "" %}
  <div class="product__callouts-item fs-body-75">
    {% if icon and icon != "none" %}
      {% render 'icon-editorial' with class: "product__callouts-item-icon", icon: icon %}
    {% endif %}
    <div class="product__callouts-item-text rte">
      {{ text }}
    </div>
  </div>
{% endif %}
