<div
  class="
    store-availability-drawer
    popover
    {% if settings.enable_section_animations %}
      animation
      animation--store-availability-drawer
    {% endif %}
  "
  data-store-availability-drawer
  aria-describedby="drawer-title"
  aria-hidden="true"
  role="dialog"
>
  <div class="store-availability-drawer__wash" data-store-availability-drawer-wash></div>
  <div class="store-availability-drawer__container">
    <div class="store-availability-drawer__inner">
      <div class="store-availability-drawer__header">
        <div class="store-availability-drawer__product-info">
          <h4
            id="drawer-title"
            class="store-availability-drawer__store-list-product-title ff-heading fs-heading-5-base"
            data-store-availability-product-title
          >
            {{ 'store_availability.general.availability' | t }}
          </h4>
          <p
            class="store-availability-drawer__store-list-variant-title fs-body-60 t-opacity-50"
            data-store-availability-variant-title
          ></p>
        </div>
        <button
          type="button"
          class="store-availability-drawer__close"
          data-store-availability-close
          aria-label="{{ 'general.accessibility.close_modal' | t }}"
        >
          {% render 'icon-button' with small: true, icon: 'close' %}
        </button>
      </div>
      <div class="store-availbility-drawer__product" data-store-availability-product></div>

      <div class="store-availbility-drawer__content" data-store-list-container></div>
    </div>
  </div>
</div>
