<div>
  {%- for block in section.blocks -%}
    <div class="section">
      {% render block %}
    </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "t:sections.apps.name",
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.apps.presets.name"
    }
  ]
}
{% endschema %}
